@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://kubernetes.io/images/favicon.png" />
    <h1 class="display-4">Nhóm 8: Demo Kubernetes</h1>
    <p>Trang web dùng để demo cách hoạt động của Kubernetes</p>
</div>
