@{
    ViewData["Title"] = "Docs";
}

<h1>Giới Thiệu Tổng Quát </h1>
<h2>I. Về ảo hóa</h2>
<h3>1. Khái Niệm</h3>
<h3>2. Các loại ảo hóa</h3>
<h3>3. Ưu Nhược điểm của Docker với các loại ảo hóa khác</h3>
<h2>II. Về Kubetnetes</h3>
<h2>III. Mối Quan Hệ Kubetnetes và Dockerfile</h4>
<p>Use this page to detail your site's privacy policy.</p>
